.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .mat-body-1{
      color: rgb(29, 33, 238);
  }
  .mat-subheading-1 {
      color:  rgb(29, 33, 238);

  }
  .mat-body-2{
      color: tomato;
  }
  ul{
      color: rgb(29, 33, 238);
      
  }
  .example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url("../../assets/img/001..jpg");
    background-size: cover;
  }
  